<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>536244730485-qj1qogr5fimdm6idqm1gg8voq4rsn8tb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.536244730485-qj1qogr5fimdm6idqm1gg8voq4rsn8tb</string>
	<key>API_KEY</key>
	<string>AIzaSyAtsGlpLxlKKVtT16Dr_veJfYIhWdQpgqI</string>
	<key>GCM_SENDER_ID</key>
	<string>536244730485</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.albums</string>
	<key>PROJECT_ID</key>
	<string>albums-33d4f</string>
	<key>STORAGE_BUCKET</key>
	<string>albums-33d4f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:536244730485:ios:b7b25bb93535cbdd</string>
	<key>DATABASE_URL</key>
	<string>https://albums-33d4f.firebaseio.com</string>
</dict>
</plist>